package todos

import "strconv"

templ todosList(todos []string) {
	<ul class="flex flex-col items-center gap-2 ">
		for id, todo := range todos {
			<li class="ring-1 flex justify-between w-full">
				{ todo }
				<button hx-delete={"/todos/" + strconv.Itoa(id)} hx-confirm="Are you sure?">
					delete
				</button>
			</li>
		}
	</ul>
}
